<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime maxRequestLength="429496729" />
		<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error/500.htm">
			<error statusCode="404" redirect="~/Error/404.htm" />
			<error statusCode="500" redirect="~/Error/500.htm" />
		</customErrors>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="/Error/404.htm" responseMode="ExecuteURL" prefixLanguageFilePath="" />
			<remove statusCode="500" />
			<error statusCode="500" path="/Error/500.htm" responseMode="ExecuteURL" prefixLanguageFilePath="" />
		</httpErrors>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server header">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
		</rewrite>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="314572800" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="https://localhost:44305" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Data-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />				
				<remove name="Content-Security-Policy" />
				<remove name="X-Powered-By" />
				<remove name="MicrosoftSharePointTeamsServices" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<appSettings>
		<add key="rutaLlave" value="C:/Llaves/key.txt" />
		<!--<add key="cadenaConexion" value="8m/tcx3rIM/L/sR72OSyFFDAcaspGOyHyakQXSEWcHSAhEcmQCSGltNcKC5GJ6TA6h89U2QN14CLAAn2NjuPs0RbtyjxNhnv/9dbV1Jl/99JTHb3LDuX8tQBqxzjfUgK" />-->
		<add key="cadenaConexion" value="8m/tcx3rIM/L/sR72OSyFFDAcaspGOyHyakQXSEWcHSAhEcmQCSGltNcKC5GJ6TAxDLI6Y+NPZ0O0SJvpNbhtN9KmhxljsWW6cwutFOfJgKOfOEHeCX/+6XvTgR+V6Uo" />
		<!--<add key="cadenaConexion" value="8m/tcx3rIM/L/sR72OSyFFDAcaspGOyHyakQXSEWcHSAhEcmQCSGltNcKC5GJ6TAAM0qxXyVux3RL95V2ETfSLjYzJXTst2J1ODsfBxQaHqXRga2+wxzrTAKtTfzEbpCP+wcImSpUFLYIGS644pH2Q==" />-->
		<add key="expToken" value="10" />
		<add key="expRefreshToken" value="1440" />
		<add key="TipoAutenticacion" value="1" />
		<add key="Domain" value="f26a3bc4-1409-43a2-ac2f-34ec8395d7ec" />
		<add key="Audience" value="57b3789e-9a55-4324-b028-f4460c70f468" />
		<add key="RutaDigital" value="" />
		<!--Nueva configuración:-->
		<add key="queuePathEntregaPisos" value=".\private$\notificacionEntregaEnBandeja" />
		<add key="queuePathEntregaAgencias" value=".\private$\notificacionEntregaAgencia" />
		<add key="Scope" value="https://graph.microsoft.com/.default" />
		<add key="CertificateName" value="D:/04. certificados/simih2023/SimihBcp2023.pfx" />
		<add key="CertificatePass" value="+ExactSSL2023+" />
		<add key="UserId" value="aad8eb5b-a338-42c6-9e0a-1f911005d5b4" />
		<add key="NotificacionPisos" value="1" />
		<add key="NotificacionAgencias" value="0" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>