<style>
    .inline {
        display: inline-block;
    }

    .medium {
        width: 50%;
        height: 50%;
    }

    .nameProv {
        color: black;
        font-size: 25px;
    }

    .space {
        margin-bottom: 25px;
    }

    tr {
        cursor: pointer;
    }

    .Total > td {
        background-color: #FFF7AA;
        color: black;
    }

    .PendienteDet {
        background-color: #c1bebe;
    }

    .Pendiente {
        background-color: #ebeef2;
        border-radius: 10px;
    }

    .Recogidos {
        background-color: #247EBA;
        border-radius: 10px;
    }

    .SinMovimiento {
        background-color: #FDB45C;
        border-radius: 10px;
    }


    .table-hover > tbody > tr.SinMovimiento:hover {
        background-color: #F29A12;
    }


    .table-hover > tbody > tr.Recogidos:hover {
        background-color: #2EA1ED;
    }

    .table-hover > tbody > tr.Pendiente :hover > td {
        background-color: #dedede;
    }

    .panel-recogido > .panel-heading {
        color: #fff;
        background-color: #247EBA;
        border-color: #247EBA;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: none;
    }

    .panel-body {
        padding: 0px;
    }

    .fondoCajas {
        background-color: #FFF7AA;
        border-radius: 10px;
    }

    .CantidadDetal {
        font-size: 19px;
        color: #393939;
    }

    .encabezado > td {
        background-color: #fff;
        color: #000;
    }

    .encabezadoDet > td {
        background-color: #fff;
        color: #000;
    }

    hr {
        margin: 0px 0px;
        border: 0.5px solid #39719E;
    }

    .derecha {
        position: absolute;
        top: 100%;
        right: 0%;
        margin-top: -30px;
    }

    .contenedor-header {
        position: relative;
    }

    .visitado {
        background-color: #FFF7AA;
    }

    .label-date-style {
        border: none;
        background-color: #fff;
        padding-top: 10px;
        margin-bottom: 0px;
        padding-right: 7px;
        padding-left: 7px;
    }

    thead {
        background-color: rgba(92,122,126,0.3);
    }

    .ui-grid-row .ui-grid-cell {
        background-color: inherit !important;
    }

    .header-grid-color {
        font-size: 0.8em;
        color: #030303;
        background: linear-gradient(to bottom, rgba(180, 215, 235, 1), white);
    }

    .row-style {
        font-size: 0.8em;
    }

    .grid-border {
        border-color: #809EFF;
    }

    .indicador-align {
        font-size: 23px;
        text-align: center;
    }

    .grid {
        width: 100%;
    }

    .bg-primary-3 {
        background-color: #1d5381;
    }

    .espacio-controles {
        margin-right: 5px;
    }

    .contenedor-principal {
        height: calc(100vh - 70px) !important;
        width: 100%;
    }

    .container-controls {
        margin-bottom: 20px !important;
        margin-top: 20px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 20px;
        background-color: #FFF !important;
    }

    .container-body {
        position: relative;
        top: 0;
        left: 0;
        height: calc(100% - 135px);
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #FFF;
        padding-left: 20px;
        margin: 0px;
    }

    .tabla-asignados {
        margin-top: 20px;
    }
</style>

<div class="section-container " style="font-family:'Flexo-Regular';">

    <div class="contenedor-principal" id="MainDiv">

        <div class="section-header">
            <span class="fa fa-pie-chart glyphicon-th-list glyphicon-style-section-header "></span>
            Reporte de agencias visitadas - Lima
        </div>





        <div class="row container-controls">
            <!--Consulta por fecha-->
            <div class="col-md-12">

                <form class="form-inline">
                    <label class="form-inline label-date-style" for="fecha">Desde</label>
                    <input type="text"
                           class="form-control datepicker-control"
                           id="datepicker"
                           placeholder="Ingrese Fecha"
                           readonly
                           style="background-color: #ffffff; margin-top:4px;"
                           ng-model="FechaDesde">
                    <label class="form-inline label-date-style" for="fecha">Hasta</label>
                    <input type="text"
                           class="form-control datepicker-control"
                           id="datepicker2"
                           placeholder="Ingrese Fecha"
                           readonly
                           style="background-color: #ffffff; margin-top:4px;"
                           ng-model="FechaHasta">
                    <button ng-click="ObtenerAgenciaReportadas()" class="btn btn-primary" style="margin-top:4px;">Buscar</button>
                </form>
            </div>
        </div>
        <div class="container-body">
            <div class="row" id="MainDiv">


                <!--Autogenerando-->
                <div class="col-md-12 " ng-show="mostrarError"><span class="text-danger">No hubo recojo de valijas en este d&#237a. Seleccione otra fecha.</span></div>
                <div class="col-md-12 space" ng-repeat="(index, Prov) in Proveedores">

                    <div class="contenedor-header">
                        <h1 class="nameProv">{{Prov.Objeto.Proveedor}}</h1>
                        <button type="button" class="btn btn-sm btn-success derecha " ng-click="ExportarData(Prov.Objeto.IdProveedor)"><i class="fa fa-file-excel-o"></i> Exportar Excel</button>
                    </div>
                    <hr />
                    <br />

                    <div class="row">

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <div id="canvas-holder">
                                <canvas id="{{Prov.Objeto.Proveedor}}" width="10" height="10" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
                            <table class="table table-hover tabla-asignados">
                                <tr class="Total">
                                    <td>Total Asignados</td>
                                    <td>100 %</td>
                                    <td ng-if="RangoDias">{{Prov.Objeto.Asignados}}</td>
                                </tr>
                                <tr class="encabezado">
                                    <td>&nbsp;&nbsp;<span class="badge PendienteDet"> </span> Pendiente</td>
                                    <td>{{Prov.Objeto.PendientesPorcentaje}}</td>
                                    <td ng-if="RangoDias">{{Prov.Objeto.Pendientes}}</td>
                                </tr>
                                <tr class="visitado">
                                    <td>Visitados</td>
                                    <td>{{Prov.Objeto.VisitadosPorcentaje}}</td>
                                    <td ng-if="RangoDias">{{Prov.Objeto.Recogidos+Prov.Objeto.SinMovimiento}}</td>
                                </tr>
                                <tr ng-click="VerMapping('Recogidos',index)" class="encabezadoDet">
                                    <td>&nbsp;&nbsp;<span class="badge Recogidos"> </span> Recogidos</td>
                                    <td>{{Prov.Objeto.RecogidosPorcentaje}}</td>
                                    <td ng-if="RangoDias">{{Prov.Objeto.Recogidos}}</td>
                                </tr>
                                <tr class="encabezadoDet">
                                    <td>&nbsp;&nbsp;<span class="badge SinMovimiento"> </span> Sin Movimiento</td>
                                    <td>{{Prov.Objeto.SinMovimientoPorcentaje}}</td>
                                    <td ng-if="RangoDias">{{Prov.Objeto.SinMovimiento}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 col-xl-5">
                            <!--Panel Recogidos-->
                            <div class="card" ng-show="ActivarMapping(index,'Recogidos')">

                                <h6 class="card-header text-white bg-primary-3 mb-3">Visitados <span class="badge text-right">{{Prov.Objeto.Recogidos+Prov.Objeto.SinMovimiento}}</span></h6>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="{{Prov.Objeto.iMeta>0 ? 'col-md-4':'col-md-6'}}">

                                            <h7 class="bg-transparent mb-3">
                                                <i class="fa fa-clock-o"></i> A Tiempo
                                            </h7>
                                            <div class="card-body fondoCajas">
                                                <h5 class="inline">{{Prov.Objeto.RecogidosATiempoPorcentaje}}</h5>
                                                <div class="inline CantidadDetal" ng-if="RangoDias">({{Prov.Objeto.RecogidosATiempo}})</div>
                                            </div>

                                        </div>


                                        <div class="{{Prov.Objeto.iMeta>0 ? 'col-md-4':'col-md-6'}}" ng-if="Prov.Objeto.iMeta>0">

                                            <h7 class="bg-transparent mb-3">
                                                <i class="fa fa-clock-o"></i> Tolerancia
                                            </h7>
                                            <div class="card-body fondoCajas">
                                                <h5 class="inline">{{Prov.Objeto.ToleranciaPorcentaje}}</h5> <div class="inline CantidadDetal" ng-if="RangoDias">({{Prov.Objeto.Tolerancia}})</div>
                                            </div>
                                        </div>


                                        <div class=" {{Prov.Objeto.iMeta>0 ? 'col-md-4':'col-md-6'}}">

                                            <h7 class="bg-transparent mb-3">
                                                <i class="fa fa-clock-o"></i>  {{Prov.Objeto.iMeta>0 ? 'F.Tiempo':'Fuera de Tiempo'}}
                                            </h7>
                                            <div class="card-body fondoCajas">
                                                <h5 class="inline">{{Prov.Objeto.RecogidosFueraRangoPorcentaje}}</h5> <div class="inline CantidadDetal" ng-if="RangoDias">({{Prov.Objeto.RecogidosFueraRango}})</div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>



                        </div>
                    </div>

                </div>
                <br />

            </div>

        </div>






    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".datepicker-control").datepicker({ dateFormat: 'dd-mm-yy' });


    });



</script>