<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Animate" version="1.6.4" targetFramework="net40" />
  <package id="AngularJS.Core" version="1.6.4" targetFramework="net40" />
  <package id="Brecham.Obex" version="1.7" targetFramework="net40" />
  <package id="InTheHand.Devices.Bluetooth" version="4.0.1803.22-preview" targetFramework="net461" />
  <package id="InTheHand.Forms" version="2.0.2020.1212" targetFramework="net461" />
  <package id="InTheHand.Net.Bluetooth" version="4.0.24" targetFramework="net461" />
  <package id="InTheHand.Net.IrDA" version="4.0.2" targetFramework="net461" />
  <package id="InTheHand.Net.Obex" version="4.0.4" targetFramework="net461" />
  <package id="InTheHand.Pontoon" version="10.2018.3.19" targetFramework="net461" />
  <package id="jQuery" version="1.6.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.Identity.Client" version="4.35.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net461" />
  <package id="Xamarin.Forms" version="4.8.0.1269" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.8.0.1269" targetFramework="net461" />
</packages>