<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .text-negrita {
    color: #575757;
  }

  .text-normal {
    color: #797979;
  }

    .fade.in {
        opacity: 1;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .5;
    }
</style>

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-negrita">Seleccionar Proveedor</h5>
    <button type="button" class="close" ng-click="Close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-between">
      <label class="m-0 my-auto text-normal" for="cboProveedor">Proveedor</label>
      <select name="cboProveedor"
              class="form-control form-inline w-75 text-normal"
              ng-model="proveedorSeleccionado"
              ng-options="item as item.sProveedor for item in proveedorList track by item.iIdProveedor"></select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="escogerProveedor()">
      Continuar
    </button>
    <button type="button" class="btn btn-secondary" ng-click="Close()">
      Cerrar
    </button>
  </div>
</div>