<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--<add key="rutaLlave" value="c:/Llaves/key.txt" />-->
    <add key="cadenaConexion" value="8m/tcx3rIM/L/sR72OSyFE39ngOic5wGPHhpKui8FDm37BZDpzYuulYHNENUDUG5EnoIyWI7g9NKxxILvSBH46dxgnut771fWDbe5L778kQ=" />
    <add key="cadenaConexion2" value="8m/tcx3rIM/L/sR72OSyFE39ngOic5wGPHhpKui8FDm37BZDpzYuulYHNENUDUG589hXh5mO2N3Xmnmi+rNCduKBoM4yjDPJGRAUojGS+KU=" />
  </appSettings>
</configuration>