@import "normalize.styl"
@import "dashboard.styl"
@import "PaginaCss.styl"
@import "valijas.styl"
@import "error.styl"
@import "inicio.styl"
@import "grid.styl"
@import "tracking.styl"
@import "confirmado.styl"


body
	font-family: 'Open Sans Condensed', sans-serif
	font-size: 13px	
img
	border 0
	position absolute
	width 17%
	bottom 9%
	right 42%

/*
	banbif 
		background : #6EA5CD
	bcp
		background : #333838
*/ 

	
@media (min-width: 1370px)	
	body
		font-family: 'Open Sans Condensed', sans-serif
		font-size 14px
	.navbar-nav 
		float left
		margin 0px
	.CenterUsu 
		color #fff
		margin-left 20px
		margin-top -6px
	img
		border 0
		position absolute
		width 12%
		bottom 9%
		right 44%
	img.logo.ng-scope
		position absolute
		top 36%
		width 10%
		left 45%
		
@media (max-width: 650px)
	img
		border 0
		position absolute
		width 31%
		bottom 10%
		right 38%
		
	img.logo.ng-scope
		position absolute
		top 36%
		width 10%
		left 45%
		
@media (max-width:760px)
	.navbar-toggle
		margin-left 15px
		display block!important
		float right
	.modal-dialog
		position: relative;
		width: auto;
		margin: 10px;
		width: 67%;
		left: 79px;
		top: 59px
@media (max-width:	920px)
	.logo
		top: 90px;
	.container-fluid
		margin-bottom: 4px;
	body
		padding-top 80px
	.sidebar
		top 75px
	.modal-dialog
		position: relative;
		width: auto;
		margin: 10px;
		width: 67%;
		left: 79px;
		top: 59px
@media (min-width: 768px)
	.modal-dialog
		width: 530px;
		margin: 30px auto;
		left: -26px;
		
.relative
	position relative

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.main .page-header2 {
	margin-top: -33px;
	margin-left: -56px;
	padding-top: 25px;
	background-color: #fcfcfc;
	margin-right: -43px;
	padding-left: 26px;
	padding-bottom: 12px;
	color: #6f0101;
	box-shadow: 0 1px 2px #999;
	font-size: 22px;
	/* text-decoration: underline; */
	font-family: 'Source Sans Pro', sans-serif;
}
 