.grid {
  width: 100%;
  height: 600px;
}


.ui-grid-row-header-cell {
  background-color: #FFFFFF !important;
  border-bottom: solid 1px #FFFFFF;
  color: black;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
  box-sizing: border-box;
  border-right: 1px solid;
  border-width: 1px;
  border-color: #AEAEAE;
  border-radius: 5px;
}
.ui-grid-menu .ui-grid-menu-inner {
  background: #D9EDF7;
  border: 0px solid #d4d4d4;
  position: relative;
  white-space: nowrap;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
}

.ui-grid-footer-info.ui-grid-grid-footer.ng-scope {
  color: rgb(0, 0, 0);
  font-size: 15px;
  background-color: rgb(240, 250, 239);
  padding-top: 3px;
  height: 25px;
  padding-left: 7px;
}

span.ui-grid-pager-max-pages-number.ng-binding {
  position: relative;
  top: -6px;
}

.ui-grid-filter-container {
  padding: 3px 3px;
  position: relative;
  background-color: rgb(240, 250, 239);
}

input[type="text"].ui-grid-filter-input {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  border: 1px solid #E4E4E4;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-grid-top-panel {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background: #FFFFFF;
  background-color: white;
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-grid-header-cell-row {
  display: table-row;
  text-align: center;
}

.ui-grid-column-menu-button .ui-grid-icon-angle-down {
  color: rgb(255, 192, 29);
  vertical-align: sub;
  position: relative;
  top: 3px;
  background-color: rgb(253, 253, 253);
  font-size: 15px;
  padding-left: 4px;
  border-radius: 24px;
  border: 0.5px solid rgb(240, 250, 239);
}
.ui-grid-row-header-cell {
  background-color: #FFFFFF !important;
  border-bottom: solid 1px #FFFFFF;
  color: rgb(17, 109, 142);
}
