.glyphicon {
position: relative;
top: 4px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
COLOR: rgb(0, 183, 249);
-moz-osx-font-smoothing: grayscale;
}

.glyphicon-menu {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
COLOR: rgb(236, 172, 57);
-moz-osx-font-smoothing: grayscale;
}


.glyphicon-lateral {
position: relative;
top: 2px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
COLOR: rgb(150, 102, 150);
-moz-osx-font-smoothing: grayscale;
left: -5px;
}

.glyphicon-lateral-active {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
COLOR: rgb(255, 255, 255);
-moz-osx-font-smoothing: grayscale;
left: -5px;
}

.glyphicon-menu-item {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
COLOR: rgb(0, 183, 249);
-moz-osx-font-smoothing: grayscale;
left: -1px;
}

.glyphicon-usu {
    position: relative;
    top: 16px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    COLOR: rgb(255, 255, 255);
    -moz-osx-font-smoothing: grayscale;
}

.CenterUsu {
color: white;
margin-left: 20px;
margin-top: -3px;
}   

.navbar-inverse .navbar-nav>li>a {
color: #DADADA;
}

 

.titulo {
  //PAGINA
  display: -webkit-inline-box;
  display: -moz-inline-box;
  margin-left: 6px;
  color: beige;
  font-family: inherit;
  font-size: 15px;
}

.navbar-brand {
float: left;
padding: 11px 15px;
font-size: 20px;
line-height: 20px;
height: 50px;
}


.bs-callout-danger {
border-left-color: #ce4844;
}
.bs-callout {
padding: 20px;
margin: 20px 0;
border: 0px solid #CF0E0E;
border-left-width: 5px;
border-radius: 3px;
background-color: antiquewhite;

}

 

@media (max-width: 768px) {
      body {     
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 18px;
        }

}


@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
          margin-left: -21px;
              width: 253px;
    }
}

@media (min-width: 1350px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
          margin-left: -21px;
            width: 355px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0px;
    }
}


.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
color: #fff;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
background-color: #60a917;
border-radius: 10px;
margin-right: 5px;
}

.badgeNull {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
color: #fff;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
background-color: #FFFFFF;
border-radius: 10px;
margin-right: 5px;
}

.list-group-item>.badgeNull {
  float: right;
}

.badgeS {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
color: #fff;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
background-color: #9A165A;
border-radius: 10px;
margin-right: 3px;
margin-left: 4px;
}

.list-group-item>.badgeS {
  float: right;
}


.confi {
    position: absolute;
    right: 0;
    bottom: -22px;
}

.badge-notificacion {
display: inline-block;
min-width: 10px;
padding: 4px 7px;
font-size: 12px;
font-weight: bold;
color: #fff;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
background-color: #FFFFFF;
border-radius: 10px;
color: rgb(252, 143, 37);
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
color: #fff;
background-color: #1A6AAE;
background-color: #428BCD;
}


@media (min-width: 992px) {
    .col-md-2 {
        width: 18.666667%;
    }
}

@media (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 18.666667%;
         
    }
}
@media (min-width: 992px) {
    .col-md-10 {
        width: 81.333333%;
    }
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
color: #fff;
background-color: #997963;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.navbar-inverse
  background-color #333838
  border-color #333838

.glyphicon-pag {
  position: relative;
  top: 3px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  COLOR: #98C0CE;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
  animation : iconn 0.4s;
}

@keyframes iconn
{
  0% {
    opacity: 0;
    transform: scale(.1) rotate(45deg);
  }
  50%{
    transform: scale(1) rotate(445deg);
    //font-size: 45px;
    -webkit-transform: translate(2000px, 0px);
  }
  100%{
    //transform: scale(1) rotate(375deg);
    opacity: 1;
  }
}

