
.col-xs-2 {
width: 35.666667%;
}

@media (min-width: 1200px) {
    .col-lg-4 {
        width: 15.333333%;
        margin-top: -20px;
    }
}

 
    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
       border-bottom-color: #FFF;
BACKGROUND-COLOR: rgb(255, 255, 255);
color: black;
border-top: 3px solid rgb(207, 14, 14);
    }

.table>thead>tr>th {
vertical-align: bottom;
border-bottom: 4px solid #ddd;
}