<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="rutaLlave" value="C:/Llaves/key.txt" />		
		<add key="cadenaConexion" value="8m/tcx3rIM/L/sR72OSyFFDAcaspGOyHyakQXSEWcHSAhEcmQCSGltNcKC5GJ6TAxDLI6Y+NPZ0O0SJvpNbhtN9KmhxljsWW6cwutFOfJgKOfOEHeCX/+6XvTgR+V6Uo" />

		<!-- Define las rutas de las colas como claves -->
		<add key="queuePathEntregaPisos" value=".\private$\notificacionEntregaEnBandeja" />
		<add key="queuePathEntregaAgencias" value=".\private$\notificacionEntregaAgencia" />		
		<add key="entregaRutaAgenciasJos" value="1" />
		<add key="from" value="admin@exact.com.pe" />
		<add key="alias" value="notificaciones.simih.bcp@exact.com.pe" />
		<add key="password" value="gtpwrhyocnronbuv" />
		<add key="smtpHost" value="smtp.gmail.com" />
		
		<add key="subject" value="El SIMIH te notifica" />
		<add key="linkConfirmar" value="https://simihbcp.com.pe/#/ConfirmarEnvio" />
		<add key="linkRecepcionarJos" value="https://simihbcp.com.pe/#/Valijas" />
		<add key="correoContacto" value="tramitedocumentofic@bcp.com.pe" />
		<add key="nombreArchivoAdjuntoJOS" value="CargoElectronico" />
		<add key="nombreArchivoAdjuntoPisos" value="RecorridoPisos" />
		<add key="pruebaHabilitada" value="1" />		
		<add key="correosPrueba" value="cbaltazar@exact.com.pe,cesarabc7@gmail.com,cesarabc007@gmail.com" />
		<add key="colorFondoCabeceraTabla" value="#345AA6" />
		<add key="colorTextoCabeceraTabla" value="#FFF" />
		<add key="archivoAdjuntoFullPath" value="C:\simih_notificacion_adjunto\Manual.pdf" />
		<add key="archivoAdjuntoAgenciasFullPath" value="C:\simih_notificacion_adjunto\ManualConfirmaciónValijas.pdf" />

	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
