@font-face {
    font-family: 'Flexo-Bold';
    src: local('Flexo Bold'), local('Flexo-Bold'),
        url('Flexo-Bold.woff2') format('woff2'),
        url('Flexo-Bold.woff') format('woff'),
        url('Flexo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }