<style>

    .app-modal-window .modal-dialog {
        width: 850px;
    }

    .fecha-style {
        /*margin-top: 5px;
        margin-right: 30px;
        color: blue;*/
        background-color: #ffffff;
    }

    .label-style {
        border: none !important;
        box-shadow: none;
    }

    .group-style {
        border-bottom-style: none !important;
        /*border-bottom-style: solid;*/
        border-width: 1px;
        border-color: #ded4d4;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .row-style {
        padding-top: 3px;
    }

    .datepicker-control {
        color: black;
    }
</style>
<!--<div class="modal-dialog">-->


    <div class="modal-content">
        <div class="modal-header">

            <h3 class="modal-title">Mantenimiento de rangos de recepción</h3>
        </div>
        <div class="modal-body">





            <div class="form-group group-style">
                <div class="row row-style">
                    <div class="col-lg-3">
                        <label for="tipo" class="form-control form-inline label-style">Tipo agencia</label>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-control form-inline" name="tipoAgencia" ng-model="tipoSeleccionado" ng-options="tipo as tipo.tipoAgencia for tipo in tipoAgenciaList track by tipo.idTipoAgencia" required>
                        </select>
                    </div>
                    <!--<div class="col-lg-1"></div>-->
                </div>
            </div>

            <div class="form-group group-style">
                <div class="row row-style">
                    <div class="col-lg-3">
                        <label for="proveedor" class="form-control form-inline label-style">Proveedor</label>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-control form-inline" name="proveedor" ng-model="proveedorSeleccionado" ng-options="item as item.sProveedor for item in proveedorList track by item.iIdProveedor" required>
                        </select>
                    </div>
                    <!--<div class="col-lg-1"></div>-->
                </div>
            </div>

            <hr />

            <div class="form-group group-style">
                <div class="row row-style">
                    <div class="col-lg-5">
                        <label for="arcoInferior" class="form-control form-inline label-style">Arco inferior recepción</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="time" class="form-control" name="arcoInferior" ng-model="rango.arcoInferiorRecepcion" ng-disabled="rangoList.length>0" required />
                    </div>
                    <div class="col-lg-2">
                        
                    </div>
                </div>
                <div class="row row-style">
                    <div class="col-lg-5">
                        <label for="arcoSuperior" class="form-control form-inline label-style">Arco superior recepción</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="time" class="form-control" name="arcoSuperior" ng-model="rango.arcoSuperiorRecepcion" required/>                        
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row row-style">
                    <div class="col-lg-5">
                        <label for="meta" class="form-control form-inline label-style">Meta (%)</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="number" class="form-control" name="meta" ng-model="rango.meta" required/>
                    </div>

                    <div class="col-lg-2">
                        <button class="btn btn-info" ng-click="add()"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>

            <hr />

            <div class="row row-style">
                <div class="col-lg-12">

                    <table class="table">

                        <tr>
                            <th>Arco inferior recepción</th>
                            <th>Arco superior recepción</th>
                            <th>Meta (%)</th>
                            <th>Eliminar</th>
                        </tr>

                        <tr ng-show="rangoList.length>0">
                            <td>{{rangoMenor.arcoInferiorRecepcion | date : 'HH:mm'}}</td>
                            <td>{{rangoMenor.arcoSuperiorRecepcion | date : 'HH:mm'}}</td>
                            <td>{{rangoMenor.meta}}%</td>
                            <td></td>
                        </tr>

                        <tr ng-repeat="rango in rangoList">
                            <td>{{rango.arcoInferiorRecepcion | date : 'HH:mm'}}</td>
                            <td>{{rango.arcoSuperiorRecepcion | date : 'HH:mm'}}</td>
                            <td>{{rango.meta}}%</td>
                            <td><button class="btn btn-danger btn-xs" ng-show="rango.activo" ng-click="remove()"><i class="fa fa-minus"></i></button></td>
                        </tr>

                        <tr ng-show="rangoList.length>0">
                            <td>{{rangoMayor.arcoInferiorRecepcion | date : 'HH:mm'}}</td>
                            <td>{{rangoMayor.arcoSuperiorRecepcion | date : 'HH:mm'}}</td>
                            <td>{{rangoMayor.meta }}%</td>
                            <td></td>
                        </tr>

                    </table>

                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="guardar()">Guardar</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
        </div>
    </div>

<!--</div>-->