<style>
    .grid-border {
        border-color: #809EFF;
    }

    .grid {
        width: 100%;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .row-style {
        font-size: 0.8em;
    }

    .grid-bolsas {
        height: 100%;
    }

    .contenedor-principal {
        height: calc(100vh - 70px) !important;
        width: 100%;
    }

    .container-controls {
        margin-bottom: 20px !important;
        margin-top: 20px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 20px;
        background-color: #FFF !important;
    }

    .container-body {
        position: relative;
        top: 0;
        left: 0;
        height: calc(100% - 360px);
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #FFF;
        padding-left: 20px;
        margin: 0px;
    }

    .tabla-asignados {
        margin-top: 20px;
    }

    .espacio-controles {
        margin-right: 5px;
        width: 100% !important;
    }

    .form-top {
        margin-top: 15px;
        border: none !important;
        -webkit-box-shadow: none;
    }

    .form-border {
        border: none !important;
        -webkit-box-shadow: none;
    }
</style>

<div class="section-container " style="font-family:'Flexo-Regular';">

    <div class="contenedor-principal" id="MainDiv">

        <div class="section-header">
            <span class="fa fa-pie-chart glyphicon-style-section-header "></span>
            Reporte de documentos por estado
        </div>

        <div class="row container-controls" style="margin-top: 20px !important;">
            <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                <form class="form-inline">
                    <div class="col-md-12" style="padding-left:0px; padding-right:0px;padding-bottom: 20px;">
                        <div class="row" style="width:100%;">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row" >
                                    <div class="col-md-12" style="margin-top:15px;">
                                        <div class="row">
                                            <label class="form-control form-inline form-top" for="selectTServicio">Seleccione un estado</label>
                                        </div>
                                        <div class="row">
                                            <select class="form-control"  style="width: 100%" ng-change="SelectEstadoIndexChange()" ng-model="estado.estadoId">
                                                <option ng-selected="estado==item" ng-repeat="item in estadosList" ng-value="item.estadoId">{{item.estadoNombre}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top:15px;">
                                        <div class="row">
                                            <label class="form-control form-inline form-top" for="selectTServicio">Indicar el rango de fecha</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top:15px;">
                                        <div class="row">
                                            <label class="form-control form-inline form-top" for="selectTServicio">Desde</label>
                                        </div>
                                        <div class="row">
                                            <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="Desde" bs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top:15px;">
                                        <div class="row">
                                            <label class="form-control form-inline form-top" for="selectTServicio">Hasta</label>
                                        </div>
                                        <div class="row">
                                            <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Hasta" bs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="row">
                                    <div class="col-md-6" style="margin-top:15px;">
                                        <div class="row">
                                            <label class="form-control form-inline form-top" for="selectTServicio"> </label>
                                        </div>
                                        <div class="row">
                                            <button class="btn button-samay-orange" ng-disabled="estado===nothing" ng-click="generarReportePorEstado()"><span class="mostrarIndicadores">Buscar </span><span class="glyphicon glyphicon-search"></span></button>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:15px;">
                                        <div class="row">
                                            <label class="form-control form-inline form-top" for="selectTServicio"> </label>
                                        </div>
                                        <div class="row">                                            
                                            <button class="btn button-samay-green" ng-disabled="gridReportePorEstado.data.length===0" ng-click="exportarReporte()"><span class="mostrarIndicadores">Exportar </span><span class="glyphicon glyphicon-export"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="container-body">
            <div class="row grid-bolsas">
                <div class="col-xs-12 col-md-12 alinear-tabla" style="margin-top:0px; padding-left:0px;">
                    <div ui-grid="gridReportePorEstado" class="grid grid-bolsas" style="border: solid thin #808080;"
                         ui-grid-pagination
                         ui-grid-move-columns
                         ui-grid-cellnav
                         ui-grid-expandable
                         ui-grid-resize-columns>
                    </div>
                </div>
            </div>
        </div>
    </div>   

</div>
