@font-face {
    font-family: 'Flexo-Regular';
    src: local('Flexo Regular'), local('Flexo-Regular'),
        url('Flexo-Regular.woff2') format('woff2'),
        url('Flexo-Regular.woff') format('woff'),
        url('Flexo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }