<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Host" value="10.212.134.203"/>
    <add key="UserName" value="tester"/>
    <add key="Password" value="password"/>
    <add key="LocalPath" value="D:\SFTP\data"/>
    <add key="FileName" value="BCP.csv"/>
    <add key="ServerPath" value="\public"/>
    <add key="FileHeader" value="1"/>
    <add key="SeparatorCharacter" value=";"/>
    <add key="NumberOfFields" value="10"/>
    <add key="LogFilePath" value=""/>

    <add key="Instance" value="https://login.microsoftonline.com/"/>
    <add key="Tenant" value="f26a3bc4-1409-43a2-ac2f-34ec8395d7ec"/>
    <add key="ClientId" value="5dc795fe-6cce-4978-a9ed-b27164d7d8d3"/>
    <add key="ClientSecret" value="zuB69v7gI7T~vO2n1MffjGl~I~.2_~vf6_"/>
	<add key="CertificateName" value="D:\certificados\rvabcp.pfx" />
	<add key="CertificatePass" value ="123456"/>
	<add key="ResourceId" value="api://5dc795fe-6cce-4978-a9ed-b27164d7d8d3/.default" />
	<add key="UrlWebApi" value="https://localhost:44342" />

  </appSettings>
</configuration>