@font-face {
 font-family: luis;
 src: url("PassionSansPDab-HairlineI_2.eot") /* EOT file for IE */
}
@font-face {
 font-family: luis;
 src: url("PassionSansPDab-HairlineI_2.ttf") /* TTF file for CSS3 browsers */
}