<style type="text/css">
    .titulo {
        text-align: center;
        height: 100px;
    }

        .titulo h2 {
            font-size: 40px;
            font-family: sans-serif;
            color: black;
            text-shadow: 1px 1px #343437;
        }

    .entrada {
        margin-top: 5px;
    }

    .lblFecha {
        margin-right: 30px;
    }

    .lblCodAgencia {
        margin-right: 30px;
    }

    .entradas {
        border-style: solid;
        border-width: 1px;
        border-color: #809EFF;
        border-radius: 10px;
        padding: 5px;
        background-color: #FFFFFF;
    }

    #idFecha {
        margin-right: 15px;
    }

    .iniciar {
        background-color: rgba(18, 169, 5, 0.8);
        border-color: rgba(18, 169, 5, 0.8);
        color: white;
        font-weight: bold;
    }

        .iniciar:focus {
            background-color: rgba(18, 169, 5, 1);
            border-color: rgba(18, 169, 5, 1);
            color: white;
            font-weight: bold;
        }

        .iniciar:hover {
            background-color: rgba(18, 169, 5, 1);
            border-color: rgba(18, 169, 5, 1);
            color: white;
            font-weight: bold;
        }

    .terminar {
        background-color: rgba(233, 5, 5, 0.5);
        border-color: rgba(233, 5, 5, 0.5);
        color: white;
        font-weight: bold;
    }

        .terminar:focus {
            background-color: rgba(233, 5, 5, 0.7);
            border-color: rgba(233, 5, 5, 0.7);
            color: white;
            font-weight: bold;
        }

        .terminar:hover {
            background-color: rgba(233, 5, 5, 0.7);
            border-color: rgba(233, 5, 5, 0.7);
            color: white;
            font-weight: bold;
        }

    .verde {
        background-color: rgba(18, 169, 5,0.5);
    }

    .rojo {
        background-color: rgba(255, 100, 100, 0.5);
    }

    .amarillo {
        background-color: yellow;
    }

    .azul {
        background-color: rgba(0, 124, 233, 0.4);
    }

    .blanco {
        background-color: #ffffff;
    }

    .indicador-rojo {
        font-size: 23px;
        color: #EE5151;
        text-align: center;
    }

    .indicador-ambar {
        font-size: 23px;
        color: #FFA500;
        text-align: center;
    }

    .indicador-verde {
        font-size: 23px;
        color: #5cb85c;
        text-align: center;
    }

    .indicador-blanco {
        font-size: 23px;
        color: #ADD8E6;
        text-align: center;
    }

    thead {
        /*background-color: rgba(92,122,126,0.3);*/
        background-color: #FAFAFA;
        color: #333;
    }

    .CajaComponentes {
        width: auto;
        position: relative;
    }

    .cajaExportar {
        width: auto;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: -35px;
    }

    .cajaActualizar {
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        margin-left: -100px;
    }

    .actualizar {
        background-color: #D9C17F;
        color: #fff;
        box-shadow: inset 0 0 0 1px #C7B175;
    }

        .actualizar:hover {
            background-color: #C7B175;
            color: #fff;
        }

        .actualizar:focus {
            background-color: #C7B175;
            color: #fff;
        }

    .btnReprogramacion {
        background-color: #;
    }

    .radio {
        padding: 5px 5px 5px 5px;
    }

        .radio:hover {
            background-color: rgb(120, 243, 183);
            border-radius: 5px;
        }

    .ui-grid-row .ui-grid-cell {
        background-color: inherit !important;
    }

    .header-grid-color {
        font-size: 0.8em;
        /*color: #030303;*/
        /*background: linear-gradient(to bottom, rgba(180, 215, 235, 1), white);*/
        /*background-color: rgb(17,97,164);
        color: rgb(180,215,235);*/
    }

    .row-style {
        font-size: 0.8em;
    }

    .row-button-style {
        text-align: center;
    }

    .button-grid-style {
        padding: 2px 12px;
    }

    .grid-border {
        border-color: #809EFF;
    }

    .indicador-align {
        font-size: 23px;
        text-align: center;
    }

    .grid {
        width: 100%;
        border-color: #809EFF !important;
        border-radius: 4px;
        border: solid;
        border-width: 1px;
        padding: 0px;
    }

    .alinear-tabla {
        margin-top: 10px;
        padding: 0px;
        margin-right: 0px;
    }

    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #FFF;
        background-color: #337ab7;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    .acordion-header {
        background-color: #337ab7;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .fondoIcono {
        color: rgba(233, 5, 5, 0.7);
    }
</style>
<p></p>
<div class="row container-fluid">

    <div class="entradas col-md-12 col-xs-12">

        <div class="CajaComponentes">
            <h2>Mantenimiento de Correos</h2>
            <hr />
        </div>

        <!--<div class="CajaComponentes">
            <div class="form-inline">
                <div class="">
                    <input type="button" class="btn btn-primary entrada" ng-click="nuevoCorreo()" name="nuevoFeriado" value="Nuevo Correo" id="btnNuevo">
                    <br />
                </div>
            </div>
        </div>-->
    <!--</div>

    <div class="entradas col-md-12 col-xs-12">-->



        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" ng-repeat="tca in tipoReporteAutomaticoList">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="success" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="{{tca.IdTipoReporteAutomatico}}">
                            {{tca.TipoReporteAutomatico}}
                        </a>
                    </h4>
                </div>
                <div id="{{tca.IdTipoReporteAutomatico}}" class="panel-collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="col-xs-12 col-md-12 alinear-tabla">
                            <button class="btn btn-sm btn-success" ng-click="nuevoCorreo(tca.IdTipoReporteAutomatico)">
                                <i class="fa fa-plus" style="vertical-align : top; text-align : center; font-size : 18px; "></i>
                                Agregar correo
                            </button>
                            <hr />
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Correo (Para)</th>
                                        <th style="width:20%">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="correo in correoList | filter: {IdTipoReporteAutomatico : tca.IdTipoReporteAutomatico, IdTipoCorreo : 1}">
                                        <td>{{correo.Correo}}</td>
                                        <td>
                                            <button type="button" class="btn btn-link button-grid-style" ng-click="EliminarCorreo(tca,correo)">
                                                <i class="fa fa-times fondoIcono" style="vertical-align : top; text-align : center; font-size : 18px; "></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Correo (Con Copia)</th>
                                        <th style="width:20%">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="correo in correoList | filter: {IdTipoReporteAutomatico : tca.IdTipoReporteAutomatico, IdTipoCorreo : 2}">
                                        <td>{{correo.Correo}}</td>
                                        <td>
                                            <button type="button" class="btn btn-link button-grid-style" ng-click="EliminarCorreo(tca,correo)">
                                                <i class="fa fa-times fondoIcono" style="vertical-align : top; text-align : center; font-size : 18px; "></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
