<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<httpRuntime maxRequestLength="200000" enableVersionHeader="false" />		
		<compilation debug="true" targetFramework="4.6.1" />
		<pages controlRenderingCompatibilityVersion="4.0" />
		<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error/500.htm">
			<error statusCode="404" redirect="~/Error/404.htm" />
			<error statusCode="500" redirect="~/Error/500.htm" />
		</customErrors>
	</system.web>
	<system.webServer>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server header">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
				<add name="Cache-Control" value="no-cache" />
				<add name="Access-Control-Max-Age" value="1728000" />
				<add name="Content-Lenght" value="0" />				
				<remove name="Content-Security-Policy" />
				<remove name="X-Powered-By" />
				<remove name="MicrosoftSharePointTeamsServices" />
			</customHeaders>
		</httpProtocol>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="/Error/404.htm" responseMode="ExecuteURL" prefixLanguageFilePath="" />
			<remove statusCode="500" />
			<error statusCode="500" path="/Error/500.htm" responseMode="ExecuteURL" prefixLanguageFilePath="" />
		</httpErrors>
		
		<directoryBrowse enabled="false" />
	</system.webServer>
	<system.serviceModel>
		<protocolMapping>
			<add scheme="http" binding="webHttpBinding" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingJson" crossDomainScriptAccessEnabled="true" />
			</webHttpBinding>
		</bindings>
		<services>
			<service name="ExpedicionInternaWeb2V.Servicio.Servicio">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJson" contract="ExpedicionInternaWeb2V.Servicio.IServicio" behaviorConfiguration="web" />
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				<rule name="Force SSL" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>
			</rules>
		</rewrite>
		
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>